@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;700;900&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
nav ul{
    display: flex;
    gap: 3rem;
}
nav li{
    list-style-type: none ;
    font-weight: 500;
    font-size: 1.2rem;
}
nav a{
    text-decoration: none;
    color: var(--dark-02, #424242);
}
nav h1{
    color: var(--dark-01, #131313);
    font-weight: 700;
    font-size: 2.5rem;
}



.banner-text{
   
    text-align: center;
    padding-top: 6rem;
   
    
    margin: 0 auto;
}
.banner-text h1{
    font-size: 4rem;
    color: var(--dark-01, #131313);
}
.banner-text p{
    font-size: 1.2rem;
    color: var(--dark-03, #727272);
    line-height: 1.5rem;
    width: 70%;
    margin: 1.5rem auto;

}
.btn-primary{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.3rem;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    border: none;
    margin: 2rem auto;
    cursor: pointer;
    
}
.banner-img img{
    width: 100%;
}

/* ############# feature ############ */

.feature{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 5rem auto;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}
.feature-text{
    text-align: center;
    padding: 0 3rem;
}
.gray{
    color: var(--dark-03, #727272);
    font-weight: 500;
    font-size: 3rem;
}
.black{
    color: var(--dark-01, #131313);
    font-weight: 700;
    font-size: 3rem;
}
.orange{
    color: #FF900E;
    font-weight: 700;
    font-size: 3rem;
}
.feature-text p{
    color: var(--dark-03, #727272);
    line-height: 1.5rem ;
    padding-top: 2rem;
}
.feature-text a{
    text-decoration: none;
    color: #FFF;

}
/* ########### responsive ########## */

@media  screen and (max-width: 576px) {
    header{
        padding: 2rem;
    }
    nav{
        flex-direction: column;
        gap: 1rem;
    }
    nav ul{
        padding-top: 2rem;
        
    }
    
}

@media screen and (min-width:577px) and (max-width:960px) {
    header{
        padding: 2rem;
    }
    nav{
        flex-direction: column;
        gap: 3rem;
    }
    
}

@media scren and (min-width:961px) and (max-width:1440px){
    header{
        padding: 2rem;
    }
    nav{
        gap: 2rem;
    }
}